html{
    --color-azul: rgb(75,95,213);
    --color-blanco: white;
    --color-enlace: rgb(162,156,231);
    --fondo-ayuda: rgb(218,219,241);
    --color-negro: black;
}

body{
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px auto;
    
}

.header{
    background-color: var(--color-negro);
    color: var(--color-blanco);
    padding: 10px 0px;
    display: grid;

}

.header img{
    vertical-align: middle;
    width:40px;
}

.header input[type="submit"]{
    background: var(--color-negro);
    border: 1px solid var(--color-blanco);
    border-radius: 5px;
    color: var(--color-blanco);
    padding: 5px 10px;
}

.header input[type="button"]{
    background: var(--color-azul);
    border: 1px solid var(--color-azul);
    border-radius:5px;
    color: var(--color-blanco);
    padding: 5px 10px;
}

.help{
    height:200px;
    font-size: 2.5em;
    background-color: var(--fondo-ayuda);
}

.help input{
    font-size: 0.5em;
    height: 50px;
    width:400px;
    
    
}

.main{

    gap: 60px;
    margin: 100px 50px;
}

.main img{
    width: 50px;
    margin-right: 10px;
}

.main-info{
    display: flex;
    width: 350px;
}

.main-titulo{
    font-weight: bold;
}

.main-link{
    color:var(--color-azul)
}

.footer{
    background-color: var(--color-negro);
    color:var(--color-blanco);

    
}

.footer{
    padding: 40px 0px;
}

.footer-title{

}

.copy-info{

}
.copy-info img{
    width: 30px;

}