.letragrande{
    font-size: 3em;
}

.letramediana{
    font-size: 1.5em;
}

.nito{
    font-weight: bold;
}

.colorrosa{
    color:pink;
}

.colorverde{
    color:greenyellow;
}

.colorazul{
    color:aqua;
}